
.container {
    margin-top: 40px;
}

.container * {
    display: flex;
}

.container .row{
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    /*margin-bottom: 10px;*/
}

.container .column{
    margin-left: 10px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    /*align-items: center;*/
}

#pagination button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: white;
}

input[disabled] {
    background-color: #B6B6B6;
}

.active-page {
    background-color: #B6B6B6 !important;
}